body {
    background-color: white;
    margin: 40px 350px;
    display: block;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 3px black;
}

h3 {
    margin-bottom: 10px
}


.content {
    margin-top: 5px;
    font-weight: 750;
    text-align: justify;
    justify-content: center;
    background-color: white;
    font-size: 11px;
}

.wa-1 {
    border: 1px solid;
    text-align: center;
    padding: 0px 10px;
    border-radius: 12px;
    margin-right: 75%;
    background-color: black;
    margin-top: 20px;
}

.wa-2 {
    text-decoration: none; 
    background-color: black; 
    color: white;
}

.dl-1{
    margin-top: 15px;

}

.dl-2 {
    text-decoration: none;
    color: black;
    font-size: 13px ;
}

.dl-2 img{
    width: 20px;
    margin-left: 5px;
}
.logo-1 {
    text-align: center;
    margin-top: 10px;
}

.logo-1 img {
    width: 20px;
    margin-left: 7px; 
}

.card {
    box-shadow: 0px 0px 1px black;
    text-align: center;
    width: 180px;
    height: 270px;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card img {
    width: 180px;
}

.card-name {
    margin-top: -15px;
    border: 0px 0px 0px solid black;   
}

.card-name p {
    margin-top: -15px;
    font-size: 11px;
}
